body {
    background: #000;
}

/* Tarjeta del login */
.login-card {
    width: 380px;
    background: #111;
    border: 2px solid #FFD700;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.3);
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Logo */
.logo {
    width: 120px;
    height: auto;
    filter: drop-shadow(0px 0px 8px rgba(255, 215, 0, 0.5));
}

/* Inputs al enfocar */
.form-control:focus {
    border-color: #FFD700 !important;
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
}
.nav-tabs .nav-link {
    color: white !important;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    background-color: #111 !important;
    color: #FFD700 !important;
    border-color: #FFD700 !important;
}

.nav-tabs .nav-link:hover {
    color: #FFD700 !important;
}
#registroContent,
#registroContent * {
    color: white !important;
}
#perfilAlumno { color: white; }
